# Dependencies
node_modules
.pnpm-store
.npm
# Ignore lockfiles for other package managers to enforce pnpm
yarn.lock
package-lock.json

# Build Outputs
dist
dist-ssr
dist-types
coverage
.nitro
.output
dev-dist

# Archives
*.zip
*.tar
*.war
*.gz

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Caches & Temporary Files
.cache
.temp
.turbo
.eslintcache
.stylelintcache
**/.vitepress/cache

# Environment Variables
# Check .env.example into git, but ignore local env files
.env.local
.env.*.local
*.local

# IDEs & Editors
.idea
.vscode
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.history
.cursor
.VSCodeCounter

# Operating System
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Project Specific
**/backend-mock/data
vite.config.ts.*
vite.config.js.*
vite.config.mts.*
vite.config.mjs.*
